@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&family=Spartan:wght@400;500;600&family=Work+Sans:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&family=Source+Sans+Pro:wght@300;400;700&family=Spartan:wght@400;500;600&family=Work+Sans:wght@200;300;400;500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none !important;
}

img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

.global-content{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
color: #798196;
}
.global-title{
    color: #1D2B4F;
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
}

.btn-global{
    font-size: 16px;
    background: #FF9E2C;
border-radius: 8px;
width: 148px;
height: 56px;
display: flex;
justify-content: center;
align-items: center;
color: #fff !important;
font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
}
.btn-header{
    margin-left: 134px;
}
#header{
    display: flex;
    align-items: center;
    height: 120px;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left .logo{
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
text-transform: capitalize;
margin-left: 8px;
color: #FFFFFF;
    
}

.navbar .nav-list{
    align-items: center;
    display: flex;
    margin: 0;
}

.navbar .nav-list .nav-item{
    margin-left: 40px;
    white-space: nowrap;
}
.navbar .nav-list .nav-item .nav-link{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
color: #E6E6E6;
}
.navbar .nav-list li .nav-link.active{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
}

.hero-right{
    padding-top: 70px;
}

.hero-left .heading{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 88px;
text-transform: capitalize;
color:#fff;
}

.hero-left .hero-content{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
margin-top: 24px;
margin-bottom: 40px;
color:#fff;
}

.bg-for-header{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.bg-for-header img{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 846px;
}

.logo-area{
    margin-top: 250px;
    margin-bottom: 120px;
}

.logo-area img{
    transition: 300ms all;
}

.logo-area .container{
    padding: 0 100px;
}
.logo-area  img:hover{
    transform: scale(1.2);
}

.header1{
    width: 100%;
    position: relative;
}

.header1 .bg2 img{
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 461px;
}


.heading-global{
    display: flex;
    justify-content: space-between;
}

.heading-global h2{
    margin-top: 72px;
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
text-transform: capitalize;
color: #FFFFFF;
}

.heading-global p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 120px;
}

.heading-global .btn-global{
    margin-top: 144px;
}
.header1 .col-lg-3{
    height: 364px !important;
}
.card-item{
    height: 364px !important;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 8px;
padding-top: 24px;
padding-left: 24px;
}

.header1 .mb-col{
    margin-top: 56px;
}

.card-item:hover{
    border: none;
    background: #2449F3;
    transition: 300ms all;
}
.card-item:hover .card-content{
    color:#fff;
}

.card-item:hover  .card-heading{
    color:#fff;
}
.card-item:hover i{
    background: #fff;
}
.card-item.blue .card-heading{
    color:#1D2B4F;
}

 .card-content{
    color:#fff;
}
.card-item .card-heading{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 48px;
color:#1D2B4F;
}

.card-item i{
border-radius: 50%;
font-size: 20px;
background: #E6E6E6;
width: 72px;
display: flex;
align-items: center;
justify-content: center;
height: 72px;
margin-bottom: 24px;
}

.card-item .card-content{
    margin-top: 16px;
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
color: #798196;
}

.who{
    margin-top: 285px;
}

.who-left h3 {
    margin-bottom: 20px;
}

.who-left .btn-global{
    margin-top: 35px;
}

.who-right{
    position: relative;
}

.who-right::after{
    content:"";
    width: 491.4px;
    height: 556px;
    z-index: -1;
    left:60px;
    top: -100px;
    border-radius: 8px;
    position: absolute;
    background: url('../img/Background3.png');
}

.ekip{
    margin-top: 300px;
}

.heading-global-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.who-img-item{
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.who-img-item img{
    border-radius: 8px;
   position: relative;
}
.who-img-item .overley{
    position: relative;
}

.who-img-item .overley .img-abs{
    position: absolute;
    top: 5px;
    height: 100%;
}
.who-img-item img::after{
    content:"";
    position: absolute;
    top: 0;
    background-size: cover;
    width: 96%;
    height: 100%;
    background: url('../img/Overlay.png');
}


.img-text{
    z-index: 1000;
    position: absolute;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-text .name{
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 48px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}

.img-text .work{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}